#root {
    background-image: url('https://images.pexels.com/photos/2132087/pexels-photo-2132087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    height: 300vh;
    display: flex;
    justify-content: center; /* Ajusta horizontalmente */
    align-items: center; /* Ajusta verticalmente */
}

.card-container {
    display: flex;
}

.card {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Adiciona um fundo branco transparente ao card */
    border-radius: 10px;
    padding: 20px;
}

.card img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}